<div class="relative flex flex-col min-w-min mb-6 break-words bg-white border-3 shadow-soft-xl rounded-2xl bg-clip-border">
    <div class="flex-auto p-2 mx-2">
        <div>
            <%= turbo_stream_from "#{dom_id(user)}_messages" %>
            <div id="<%= dom_id(user) %>_messages" class="min-w-full">
                <%= render partial: "assistants/message", collection: user.messages, as: :message %>
            </div>

            <div class="flex-auto w-full">
                <% if user.messages.blank? %>
                    <p class="text-center">Подберет аналоги, расскажет где и для чего применять, составит описание.</p>
                    <%= form_with model: Message.new(customer: user), url: spree.messages_path do |f| %>
                        <div class="form-group mb-4">
                            <%= f.text_field :content, class: 'spree-flat-input', placeholder: "Подбери аналог для ADMV8416" %>
                            <%= f.submit "Спросить", class: 'btn btn-lg btn-block btn-primary text-uppercase font-weight-bold' %>
                        </div>
                    <%end%>
                <%else%>
                    <%= button_to "Понятно!", spree.message_path(user.messages.last), method: :delete, class: "btn btn-lg btn-block btn-danger text-uppercase font-weight-bold" %>
                <%end%>
            </div>
        </div>
    </div>
</div>