<% content_for :page_title do %>
  Письма
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t('admin.navigation.add_new_email'), new_object_url, { class: "btn-primary", icon: 'add.svg', id: 'new_email' } %>
<% end if can?(:create, Email) %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to "Все",
      spree.admin_emails_path(),
      class: "nav-link #{'active' if params[:q][:direction_eq].blank?}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Входящие",
      params.merge({q: {direction_eq: Email.directions["in"]}}).permit!,
      class: "nav-link #{'active' if params[:q][:direction_eq] == Email.directions["in"].to_s}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Исходящие",
      params.merge({q: {direction_eq: Email.directions["out"]}}).permit!,
      class: "nav-link #{'active' if params[:q][:direction_eq] == Email.directions["out"].to_s}" %>
  </li>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_emails_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div class="row">

        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= f.label :subject_cont, "Тема" %>
            <%= f.text_field :subject_cont, size: 15, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= f.label :from_eq, "От кого" %>
            <%= f.select :from_eq, Email.unscoped.select(:from).order(:from).distinct.pluck(:from), { include_blank: true }, class: "select2-clear js-filterable" %>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= f.label :body_eq, "Тело письма" %>
            <%= f.text_field :body_cont, size: 15, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>

      </div>

      <div data-hook="admin_emails_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @emails.any? %>
  <%= render 'table', emails: @emails %>
  <%= render 'spree/admin/shared/index_table_options', collection: @emails, simple: true %>
<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t('admin.navigation.you_have_no_emails') %>
  </div>
<% end %>